projet2/src/xsd/serviceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT BanqueService (conversion, getCompte, getComptes)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>
<!ELEMENT getCompte (Compte)>
<!ELEMENT getComptes (Compte+)>
<!ELEMENT Compte (code,solde,dateCreation)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dateCreation (#PCDATA)>